.WS-root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111c;
  color: white;
}

.WS-container {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.WS-config {
  scale: 0.7;
  margin: -7px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
}

.WS-config input[type="number"] {
  width: 3em;
}

.WS-status span {
  margin-right: 5px;
}

.WS-credits span {
  color: #a0f;
}

.WS-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fffc;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.WS-overlay span {
  font-weight: bold;
  color: black;
  overflow-wrap: anywhere;
  font-size: 12px;
}

.WS-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
